@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pizza Shop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
  
<div class="row">
    @foreach(var Pizza in Model.Pizza)
    {
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img id="PizzaImage" src="@Pizza.pizza_image" alt="@Pizza.pizza_name"/>
            <strong>
                @Pizza.pizza_name
            </strong>


        </div>
    }

</div>
